.cui-horizontal-layout .ez5-info_dante {
  padding: 3px 0px 0px 5px;
}

.cui-input.pluginDirectSelectEditInput input {
  border-radius: 4px 0px 0px 4px;
}

.cui-button.pluginDirectSelectEditSearch {
margin-left: -1px;
}

.cui-button.pluginDirectSelectEditSearch .cui-button-visual {
  border-radius: 0px 4px 4px 0px;
}

.commonPlugin_Popover { 
  min-width:600px !important; 
  min-height: 200px !important; 
}